{% extends "base.html" %}

{% block content %}
<h3>Политика в отношении обработки персональных данных</h3>
<br>
<p>КГБ ПОУ «Приморский колледж» собирает данные для поступления в учебную организацию, а также для отображения рейтинга на этом сайте. Данные защищены и доступны только абитуриентам или сотрудникам приёмной компании.</p>
<br>
<p>Просьбу удалить персональные данные можно отправить на почту alexestas@mail.ru.</p>
<br>
<p>Смотрите также <a class="link-primary text-decoration-none" href="{{ url_for('cookie') }}">Условия обработки файлов cookie</a>.</p>
{% endblock %}