{% extends "base.html" %}

{% block content %}
<h3>Условия обработки файлов cookie</h3>
<br>
<p>Сайт использует функциональные файлы cookie, которые позволяют определить авторизированного пользователя.</p>
<br>
<p>На сайте присутствует модуль с картой 2GIS. Политика использования файлов cookie компании 2GIS доступна по <a class="link-primary text-decoration-none" href="https://law.2gis.ru/privacy/cookie/" target="_blank">ссылке</a>.</p>
<br>
<p>Смотрите также <a class="link-primary text-decoration-none" href="{{ url_for('confidentiality') }}">Политика конфиденциальности</a>.</p>
{% endblock %}